{% extends "template.html" %} {% block title %}{{title}}{% endblock %} {% block content %}
        
<style>
    .card {
        margin: 0 auto; /* Added */
        margin-bottom: 10px; /* Added */
}
</style>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">注册用户</h4>
          <form id="scoring_form" method="post">
            <div class="form-group">
                    <label for="scoreinput">您的学号：</label>
                    <input type="number" class="form-control" name="sid" id="usid" placeholder="请填入你自己的学号，如2015051152">
            </div>
          </form>
          <p >当前登陆用户：<span style="color:blue;">{{CUR_UID}}</span> </p>
          <p><label id="cc"> <input type="checkbox" id="comfirm"> 我确认输入了我自己的学号！[请仔细检查]</label></p>
          <a href="javascript:submit()" class="btn btn-primary">注册</a>
        </div>
      </div>

<script>
    $(document).ready(function () {

    });


    function submit(){
        if(validateForm()){
          var url = "/regist/" + document.getElementById("usid").value;
          $.get(url, function (data) {
            window.location = "/scoring";
          });
            var cfd = document.getElementById("comfirm");
            cfd.checked = false;
            cc.style.background = "";
        }
    }

    function validateForm(){
        var score = document.getElementById("usid").value  ;
        var cfd = document.getElementById("comfirm");
        var cc = document.getElementById("cc");
        console.log(score);
        if(score.length != 10){
            showMsg("你输入的学号位数不正确！",3);
            return false;
        }
        if( cfd.checked == false ){
            showMsg("请勾选确认学号复选框！一定要确认你输入的学号是你自己的！仔细检查！",6);
            cc.style.background = "red";
            return false;
        }
        return true;
    }

</script>
{% endblock %}